.BackgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #30415D;
}

.ContentContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.BigDuckImg {
  box-sizing: border-box;
  margin: 100px 0 0 100px;
  background-image: url('../../assets/img/duck.svg');
  background-size: cover;
  width: 800px;
  height: 800px;
}

.LoginContainer {
  margin-top: 100px;
  padding: 50px;
  width: 45%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1700px) {
  .BigDuckImg {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1100px) {
  .BigDuckImg {
    width: 500px;
    height: 500px;
    opacity: 0.3;
  }
  .LoginContainer {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .BigDuckImg {
    width: 250px;
    height: 250px;
    opacity: 0.3;
  }

  .LoginContainer {
    width: 90%;
    margin-top: 5px;
  }
}

.LogOutBtn {
  margin-top: 100px;
}