.CartItemContainer {
  width: 500px;
  height: 150px;
  padding: 10px;
  display: flex;
  margin: 10px;
  background-color: transparent;
}

.HoverContainer {
  background-color: #30415D;
}

.PictureContainer {
  width: 30%;
}

.DetailsContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 20px;
}

.Title {
  font-size: 1.3rem;
  color: rgb(0, 192, 192);
  text-align: left;
}

.Quantity {
  font-size: 1.2rem;
  background-color: teal;
  font-weight: bold;
  border-radius: 100px;
  padding: 2px;
  color: white;
}

.Price {
  color: rgb(197, 197, 197);
  font-size: 1.2rem;
}

.QuantityBtnsContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;;
  align-items: center;
}

.CloseBtnContainer {
  width: 10%;
}

.BtnCartItem {
  border: transparent;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.BtnCartItem:focus {
  outline: none;
}

.BtnQuantity {
  color: rgb(0, 145, 145);
  margin-right: 5px;
}
.BtnQuantity:hover {
  color: white;
}

.BtnDelete {
  color: rgb(24, 24, 24);
}

.Strike {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .CartItemContainer {
    width: 370px;
    margin: 5px;
  }
  .PictureContainer {
    width: 40%;
  }
  .Title {
    font-size: 1rem;
  }
  .Quantity {
    font-size: 1rem;
  }
  .Price {
    font-size: 1rem;
  }

}