.CartItemContainer {
  width: 250px;
  height: 100px;
  display: flex;
  margin: 10px;
  background-color: transparent;
  /* background-color: rgba(1, 1, 1, 0.98); */
  /* border: 1px solid #ccc; */
  border: 1px solid transparent;
}

.HoverContainer {
  border: 1px solid teal;
}

.PictureContainer {
  width: 100px;
  height: 100px;
}

.DetailsContainer {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.Title {
  font-size: 0.8rem;
  color: teal;
}

.Quantity {
  font-size: 0.75rem;
  background-color: teal;
  font-weight: bold;
  border-radius: 100px;
  padding: 2px;
  color: white;
}

.Price {
  font-size: 0.75rem;
}

.QuantityBtnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CloseBtnContainer {
  width: 25px;
}