.TextGrayBold {
  font-size: 1rem;
  font-weight: bold;
  color: darkslateblue;
  text-transform: uppercase;
}

.TextPurpleLight {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(150, 137, 235);
}

.TextPurpleLightBig {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(150, 137, 235);
}

.TextTealLight {
  color: rgb(0, 192, 192);
}

.TextLightGray {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.TextLightGraySmall {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.Btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.Btn:focus {
  outline: none;
}

.BtnSmall {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 8px 15px;
  font-size: 10px;
  cursor: pointer;
}

.BtnSmall:focus {
  outline: none;
}

.BtnSuccess {
  border-color: rgb(0, 192, 192);
  color: teal;
}
.BtnSuccess:hover {
  background-color: rgb(0, 192, 192);
  color: white;
}
.BtnSuccessActive {
  border-color: rgb(0, 192, 192);
  background-color: rgb(0, 192, 192);
  color: white;
}

.BtnSecondary {
  border-color: #e7e7e7;
  color: black;
}
.BtnSecondary:hover {
  background: #e7e7e7;
}

.BtnInfo {
  border-color: darkslateblue;
  color: darkslateblue
}
.BtnInfo:hover {
  background: darkslateblue;
  color: white;
}
.BtnInfoActive {
  background: darkslateblue;
  color: white;
}

.BtnDanger {
  border-color: #f44336;
  color: red
}
.BtnDanger:hover {
  background: #f44336;
  color: white;
}

.BtnSubtle {
  background-color: rgb(150, 137, 235);
  border-color: rgb(150, 137, 235);
  color: rgb(88, 21, 143);
}
.BtnSubtle:hover {
  background-color: rgb(166, 156, 228);
  border-color: rgb(166, 156, 228);
  color: rgb(88, 21, 143);
}
