/*
#CF6766
#30415D
#031424
#8EAEBD
#214455
#644E5B
#9E5A63
#C96567
#97AABD
*/

.GrimzonBoldUppercase {
  font-size: 1rem;
  font-weight: bold;
  color: #9E5A63;
  text-transform: uppercase;
}

.GrimzonBold {
  font-size: 1rem;
  font-weight: bold;
  color: #CF6766;
}

.CrimzonBigUppercase {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #C96567;
}

.TextTealLight {
  color: rgb(2, 121, 121);
}

.TextLightGray {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.TextLightGraySmall {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.Btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.Btn:focus {
  outline: none;
}

.Btn:disabled {
  cursor: not-allowed;
}

.BtnSmall {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 8px 15px;
  font-size: 10px;
  cursor: pointer;
}

.BtnSmall:focus {
  outline: none;
}

.BtnSmall:disabled {
  cursor: not-allowed;
}

.BtnSuccess {
  border-color: rgb(0, 133, 133);
  color: teal;
}
.BtnSuccess:hover {
  background-color: rgb(0, 133, 133);
  color: white;
}
.BtnSuccessActive {
  border-color: rgb(0, 133, 133);
  background-color: rgb(0, 133, 133);
  color: white;
}
.BtnSuccessActive:disabled {
  border-color: rgb(0, 133, 133);
  background-color: rgb(0, 133, 133);
  color: white;
}
.BtnSuccess:disabled {
  border-color: rgb(0, 133, 133);
  background-color: transparent;
  color: teal;
}

.BtnSecondary {
  border-color: #e7e7e7;
  color: black;
}
.BtnSecondary:hover {
  background: #e7e7e7;
}

.BtnInfo {
  border-color: #C96567;
  color: #C96567
}
.BtnInfo:hover {
  background: #C96567;
  color: white;
}
.BtnInfoActive {
  background: #C96567;
  color: white;
}
.BtnInfo:disabled {
  border-color: #C96567;
  background-color: transparent;
  color: #C96567
}

.BtnDanger {
  border-color: #f44336;
  color: red
}
.BtnDanger:hover {
  background: #f44336;
  color: white;
}

.BtnSubtle {
  background-color: #644E5B;
  border-color: #644E5B;
  color: #C96567;
}
.BtnSubtle:hover {
  background-color: #9E5A63;
  border-color: #9E5A63;
  color: #C96567;
}

.BtnSuccessSubtle {
  border-color: rgb(0, 133, 133);
  background-color: rgb(0, 133, 133);
  color: rgb(0, 37, 37);
}
.BtnSuccessSubtle:hover {
  border-color: rgb(77, 133, 133);
  background-color: rgb(77, 133, 133);
}
.BtnSuccessSubtle:disabled {
  border-color: rgb(0, 133, 133);
  background-color: rgb(0, 133, 133);
  color: rgb(0, 37, 37);
}