.ProductContainer {
  display: flex;
  margin-top: 50px;
  padding: 50px;
}

.ProductText {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.PrductTitle {
  font-size: 2rem;
  color: teal;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .ProductText {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .ProductContainer {
    padding: 5px;
    margin-top: 5px;
    flex-direction: column-reverse;
  }
}
