.FiltersContainer {
  width: 15%;
}

.ProductsContainer {
  width: 85%;
}

.CartContainer {
  display: none;
  position: fixed;
  right: 0;
  top: 120px;
  /* background-color: rgba(43, 31, 77, 0.98); */
  background-color: rgb(36, 36, 36);
  padding: 30px 15px 15px 30px;
  max-height: 600px;
  overflow-y: auto;
}

.Visible {
  display: block;
}

.CartBtn {
  padding: 7px;
  position: fixed;
  top: 79px;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  /* border: 2px solid rgba(43, 31, 77, 0.98); */
  border: 2px solid rgb(36, 36, 36);
  /* background: rgba(43, 31, 77, 0.98); */
  background: rgb(36, 36, 36);
  color: rgb(0, 192, 192);
}
.CartBtn:focus {
  outline: none;
}

.ProductsWithFilters {
  margin-top: 100px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
}

.CartIcon {
  margin-left: 10px;
}