.PlaceholderValue {
  text-align: center;
  font-weight: 300;
}

.Clickable {
  color: #1477A7 !important;
  cursor: pointer;
}
.Clickable:hover {
  color: #005580 !important;
  text-decoration: underline;
}

.StatusCell .Label {
  text-shadow: none;
  position: relative;
  margin: 0;
  padding: 2px 8px 2px 24px;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 100px;
  text-transform: uppercase;
}
.StatusCell .Label::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: currentColor;
  opacity: 0.125;
}
.StatusCell .Label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: currentColor;
  transform: translateY(-50%);
}

.UrlHandleLink {
  padding: 10px;
}

.UrlHandleImg {
  height: 10px;
  width: 10px,
}

.CellBreakWord {
  width: 100%;
  overflow-wrap: break-word;
}

.BtnDisabled {
  opacity: 0.2;
  cursor: not-allowed;
}
