.Product {
  width: 250px;
  height: 470px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 15px;
  position: relative;
}

.HoverProduct {
  border: 1px solid teal;
}

.ProductDetails {
  width: 90%;
  padding: 5px;
  text-align: center;
}

.Title {
  height: 30px;
}

.Description {
  height: 50px;
  width: 90%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.Price {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ImageHolder {
  width: 250px;
  height: 250px;
}

.Cover {
  width: 100%;
  height: 100%;
  background-color: teal;
}

.ButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}